.message {
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    word-wrap: break-word;
    width: fit-content;
    font-weight: 400;
    font-family: 'Fira Code', monospace;
}
.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
    background-color: blue !important;
    text-overflow: clip;
}

@media screen  and (max-width:600px)  {
    .message {
        max-width: 200px;
    }
}


