.messageConfig {
    background: skyblue;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    max-width : 600px;
    word-wrap : break-word;
}

.message {
    margin-bottom: 15px;
    width: fit-content;
    border-radius: 20px;
}
.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
    background-color: blue !important;
}

@media screen and (max-width : 500px) {
    .messageConfig {
        max-width: 180px;
    }
}